#team {
  .bio {
    float: left;
    width: 50%;
    .avatar {
      margin: 15px;
    }
    .name {
      display: block;
    }
    .title {
      font-size: 80%;
    }
    .social {
      color: $primaryTextColor;
    }
    polygon {
      stroke: $darkGold;
      stroke-width: 4px;
    }
  }
}