#team {
  .bio {
    float: left;
    width: 50%;
    .avatar {
      margin: 15px;
    }
    .name {
      display: block;
    }
    .title {
      font-size: 80%;
    }
    .social {
      color: #fff;
    }
  }
}