$mutedGray: #9AABA1;
$darkGray: #617774;
$seaFoamGreen: #4D9389;
$teal: #0D6966;
$black: #231f20;
$white: #ffffff;
$darkGold: #DAA152;
$lightGold: #EDC999;

$backgroundColor: $black;
$activeColor: $darkGold;
$highlightColor: $lightGold;
$headerColor: $teal;
$titleColor: $white;
$primaryTextColor: $mutedGray;
$secondaryTextColor: $darkGray;
