$mutedGray: #9AABA1;
$darkGray: #617774;
$seaFoamGreen: #4D9389;
$teal: #0D6966;
$black: #231f20;
$gray: #777777;
$white: #ffffff;
$darkGold: #DAA152;
$red: #da0106;
$lightGold: #EDC999;

$backgroundColor: $black;
$activeColor: $darkGold;
$highlightColor: $lightGold;
$headerColor: $white;
$titleColor: $darkGold;
$titleGlowColor: darken($darkGold, 20%);
$subTitleColor: $white;
$primaryTextColor: $white;
$secondaryTextColor: $gray;
