@font-face {
  font-family: 'SIMPLIFICA';
  src: url('../fonts/SIMPLIFICA/SIMPLIFICA.ttf');
}

@font-face {
  font-family: 'Adamas-Regular';
  src: url('../fonts/Adamas-Regular/Adamas-Regular.otf');
}