@font-face {
  font-family: 'SIMPLIFICA';
  src: url('../fonts/SIMPLIFICA/SIMPLIFICA.ttf');
}

@font-face {
  font-family: 'Adamas-Regular';
  src: url('../fonts/Adamas-Regular/Adamas-Regular.otf');
}

@font-face {
  font-family: 'CODE-Light';
  src: url('../fonts/code/CODE_Light.otf');
}

@font-face {
  font-family: 'CODE-Bold';
  src: url('../fonts/code/CODE_Bold.otf');
}

$largeFont: 8em;
$mediumFont: 2em;
$smallFont: 1.5em;
$extraSmallFont: .5em;

.largeFont{
  font-size: $largeFont;
}

.mediumFont{
  font-size: $mediumFont;
}

.smallFont{
  font-size: $smallFont;
}

.extraSmallFont{
  font-size: $extraSmallFont;
}