#section0{
  //overview
}
#section1{
  //portfolio
  background-color: $backgroundColor;
}
#section2{
  //about
  background-color: $backgroundColor;
}
#section3{
  //contact us
  background-color: $backgroundColor;
}